body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#6E86FC, #9087FE);
}

#root {
    margin: auto 15%;
    background: #D2D8E4;
    padding-bottom: 15px;
}

.page-header {
    color: #FAFBFC;
    font-size: 26px;
    font-weight: bold;
    margin: 2% 20%;
    text-align: center;
}

.posts-header {
    margin: 10px auto;
    font-size: 20px;
    margin-left: 15px;
}

.content {
  margin: 15px 15px;
}