.post {
    font-size: 2rem;
    background: #FAFBFC;
    margin: 0.6rem auto;
    height: 4rem;
}

.title {
    color: rgb(91, 97, 99);
    padding: 0.6rem 1.5rem;
    font-weight: bold;
}

.date {
    margin: 0.65rem auto;
    font-size: 1.5rem;
    float: right;
}

.badge-label {
    background-color: #9087FE;
    color: #FAFBFC;
    margin-left: 1.5rem;
}

.markdown-body {
    margin: 1.5rem 1.5rem;
    padding-left: 1.5rem;
}

.post-content {
  background: #FAFBFC;
  padding-bottom: 1.5rem;
}

.content-title {
    font-size: 2rem;
    font-weight: bold;
    color: #6E86FC;
    text-align: center;
}