.post {
    font-size: 20px;
    background: #FAFBFC;
    margin: 6px auto;
    height: 60px;
}

.title {
    color: rgb(91, 97, 99);
    padding: 15px 15px;
    font-weight: bold;
}

.date {
    margin: 6.5px auto;
    font-size: 15px;
    float: right;
}

.badge-label {
    background-color: #9087FE;
    color: #FAFBFC;
    margin-left: 15px;
}

.markdown-body {
    margin: 15px 15px;
    padding-left: 15px;
}

.post-content {
  background: #FAFBFC;
  padding-bottom: 15px;
}

.content-title {
    font-size: 20px;
    font-weight: bold;
    color: #6E86FC;
    text-align: center;
}